body
{
    margin: 0;
}
.accordion-container
{
    background-color: #555;
}
.accordion-container button
{
    border: none;
    display: block;
    font-size: larger;
    height: 100px;
    width: 100%;
}
.accordion-container button:hover
{
    background-color: antiquewhite;
    opacity: 1.0s;
}
.accordion-content
{
    height: 100px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}